In [4]:
#Function
#User -define function
def greeting():
    print('Hello Welcome')
    print('Thank for chose us')
greeting()

Hello Welcome
Thank for chose us

In [1]:
def promotion():
    print('Promotion buy 1 get 1 free for Coffee')
    print('if you are membership you will get discount 30%')

def cuppon():
    print('Cupon if you buy everything about 200 bath , you can show discount bill')
    print('Cupon if you buy everything about 500 bath , you can show for sent free')
    
print('Would you like to check information?')
print('1 Promotion')
print('2 Cupon')

chioce =input('Enter the number of function: ')
if int(chioce)==1:
    promotion()
elif int(chioce)==2:
    cuppon()
else:
    print('We dont have this function')

Would you like to check information?
1 Promotion
2 Cupon
Enter the number of function: 2
Cupon if you buy everything about 200 bath , you can show discount bill
Cupon if you buy everything about 500 bath , you can show for sent free

In [2]:
#Function paramitor style 

def plus(num1,num2):
    print('num1 =',num1)
    print('num2 =',num2)
    print('num1+num2 =',num1+num2)
    
print(plus(1,2))
print(plus(3,4))

num1 = 1
num2 = 2
num1+num2 = 3
None
num1 = 3
num2 = 4
num1+num2 = 7
None

In [3]:
def information(nationality = 'ไทย'):
    print('ฉันสัญชาติ',nationality)
    
information('ไทย')
information('อินเดีย')
information('ออสเตเรีย')

ฉันสัญชาติ ไทย
ฉันสัญชาติ อินเดีย
ฉันสัญชาติ ออสเตเรีย

In [4]:
def information(age,nationality = 'ไทย'):
    print('ฉันสัญชาติ',nationality,'อายุ',age)
    
information(25,'ไทย')
information(32,'อินเดีย')
information(20,'ออสเตเรีย')

ฉันสัญชาติ ไทย อายุ 25
ฉันสัญชาติ อินเดีย อายุ 32
ฉันสัญชาติ ออสเตเรีย อายุ 20

In [5]:
#function non limite information
def myclass(*std_name):
    total_std =len(std_name)
    print('นักเรียนคนที่ 1 คือ',std_name[0])
    print('นักเรียนคนสุดท้าย คือ',std_name[-1])
    
print('ห้อง 1/1')
myclass('นายดำ','นายแดง','นางสาวชมพู','นางสาวเขียว')
print('ห้อง 1/2')
myclass('นายกล้วย','นายมะนาว','นางสาวแตงโม','นางสาวน้วย')

ห้อง 1/1
นักเรียนคนที่ 1 คือ นายดำ
นักเรียนคนสุดท้าย คือ นางสาวเขียว
ห้อง 1/2
นักเรียนคนที่ 1 คือ นายกล้วย
นักเรียนคนสุดท้าย คือ นางสาวน้วย

In [ ]:
#function return style 

def plus(num1,num2):
    return num1+num2

print(plus(1,2))
print(plus(3,4))

In [7]:
def rectang(width,length):
    return width*length

w = int(input('Enter the width for caculate: '))
h =int(input('Enter the lenght for caculate: '))
area= rectang(w,h)

print('The area of triangle is',area)

Enter the width for caculate: 3
Enter the lenght for caculate: 2
The area of triangle is 6

In [8]:
#Gobal variable 

# the gabla variable is the publice value which outside the function 

a =2 
def test_vale(x):
    y=4
    return x*y

result = a*test_vale(3)
print('Result is',result)

Result is 24

In [12]:
#Built in modules 

#สร้างมาไว้ให้ใช้อยู่แล้ว

import calendar

print(calendar.calendar(2020,1,2,5,4))

                                              2020



      January                  February                  March                    April

Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su

       1  2  3  4  5                     1  2                        1            1  2  3  4  5

 6  7  8  9 10 11 12      3  4  5  6  7  8  9      2  3  4  5  6  7  8      6  7  8  9 10 11 12

13 14 15 16 17 18 19     10 11 12 13 14 15 16      9 10 11 12 13 14 15     13 14 15 16 17 18 19

20 21 22 23 24 25 26     17 18 19 20 21 22 23     16 17 18 19 20 21 22     20 21 22 23 24 25 26

27 28 29 30 31           24 25 26 27 28 29        23 24 25 26 27 28 29     27 28 29 30

                                                  30 31



        May                      June                     July                    August

Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su

             1  2  3      1  2  3  4  5  6  7            1  2  3  4  5                     1  2

 4  5  6  7  8  9 10      8  9 10 11 12 13 14      6  7  8  9 10 11 12      3  4  5  6  7  8  9

11 12 13 14 15 16 17     15 16 17 18 19 20 21     13 14 15 16 17 18 19     10 11 12 13 14 15 16

18 19 20 21 22 23 24     22 23 24 25 26 27 28     20 21 22 23 24 25 26     17 18 19 20 21 22 23

25 26 27 28 29 30 31     29 30                    27 28 29 30 31           24 25 26 27 28 29 30

                                                                           31



     September                 October                  November                 December

Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su

    1  2  3  4  5  6               1  2  3  4                        1         1  2  3  4  5  6

 7  8  9 10 11 12 13      5  6  7  8  9 10 11      2  3  4  5  6  7  8      7  8  9 10 11 12 13

14 15 16 17 18 19 20     12 13 14 15 16 17 18      9 10 11 12 13 14 15     14 15 16 17 18 19 20

21 22 23 24 25 26 27     19 20 21 22 23 24 25     16 17 18 19 20 21 22     21 22 23 24 25 26 27

28 29 30                 26 27 28 29 30 31        23 24 25 26 27 28 29     28 29 30 31

                                                  30