In [10]:
#Database 
#Save information
import pymysql

con = pymysql.connect(host="localhost", database="testmariadb", user="root", password="", charset="utf8")


try: 
    cur=con.cursor()
    cur.execute("INSERT INTO customer (first_name,last_name,phone,street,city,province,zipcode) VALUES ('น้ำใส','ใจกล้า','0816857452','12/34 ถ.ประชาอุุทิศ','ห้วยขวาง','กทม.','10310')")
    cur.execute("INSERT INTO customer (first_name,last_name,phone,street,city,province,zipcode) VALUES ('ต้นน้ำ','กล้าหาญ','0829966742','987/542 ซ.สุทธิพร ถ.ประชาสงเคราะห์','ดินแดง','กทม.','10400')")
    cur.execute("INSERT INTO customer (first_name,last_name,phone,street,city,province,zipcode) VALUES ('วันดี','สีสวย','0896652321','2 ถ.พหลโยธิน ต.ประชาธิปัตย์','ธัญบุรี','ปทุมธานี','12130')")
    cur.execute("INSERT INTO customer (first_name,last_name,phone,street,city,province,zipcode) VALUES ('พอใจ','กล้าหาญ','0815252666','20/2 ถ.เทพรัตน แขวงบางนาใต้','บางนา','กทม.','10260')")
    cur.execute("INSERT INTO customer (first_name,last_name,phone,street,city,province,zipcode) VALUES ('วีระ','รักธรรม','0893345687','12 ต.บางพลีใหญ่','บางพลี','สมุทรปราการ','10540')")
    
    con.commit()#ยืนยันการเปลี่ยนแปลง
    print('เพิ่มข้อมมูลลงในตารางเสร็จแล้ว')
    
    cur.close() #ปิดเคอเซอร์
except :
    con.rollback() # ยกเลิกการทำคำสั่ง sql และดึงข้อมูลเดิมกลับมา
    print("ไม่สามารถเพิ่มข้อมูลลงในตารางข้อมูลได้")
finally :
    con.close() # สั่งปิดการเชื่อมต่อกับฐานข้อมูล

เพิ่มข้อมมูลลงในตารางเสร็จแล้ว

In [11]:
#calling information
#fetchall
import pymysql

con = pymysql.connect(host="localhost", database="testmariadb", user="root", password="", charset="utf8")

try:
    cur = con.cursor()
    cur.execute('SELECT *FROM customer')
    
    
    #นำผลลัพธ์ทุกรายการใน sql statement เรียกดึงข้อมูลได้มาเก็บเป็นตัวแปร cust_data
    
    cust_data = cur.fetchall()
    for i in cust_data:
        print(i)
        
    
    cur.close()

except:
    print("ไม่สามารถดึงข้อมูลลงในตารางข้อมูลได้")
    
finally:
    con.close()

(1, 'น้ำใส', 'ใจกล้า', '0816857452', '12/34 ถ.ประชาอุุทิศ', 'ห้วยขวาง', 'กทม.', '10310')
(2, 'ต้นน้ำ', 'กล้าหาญ', '0829966742', '987/542 ซ.สุทธิพร ถ.ประชาสงเคราะห์', 'ดินแดง', 'กทม.', '10400')
(3, 'วันดี', 'สีสวย', '0896652321', '2 ถ.พหลโยธิน ต.ประชาธิปัตย์', 'ธัญบุรี', 'ปทุมธานี', '12130')
(4, 'พอใจ', 'กล้าหาญ', '0815252666', '20/2 ถ.เทพรัตน แขวงบางนาใต้', 'บางนา', 'กทม.', '10260')
(5, 'วีระ', 'รักธรรม', '0893345687', '12 ต.บางพลีใหญ่', 'บางพลี', 'สมุทรปราการ', '10540')

In [18]:
#calling a row of information
#fetchone

import pymysql

con = pymysql.connect(host="localhost", database="testmariadb", user="root", password="", charset="utf8")


try:
    cur = con.cursor()
    cur.execute('SELECT *FROM customer')
    
    
    #นำผลลัพธ์ 1 รายการใน sql statement เรียกดึงข้อมูลได้มาเก็บเป็นตัวแปร cust_data
    
    cust_data1 = cur.fetchone()
    print(cust_data1)
        
    
    cur.close()

except:
    print("ไม่สามารถดึงข้อมูลลงในตารางข้อมูลได้")
    
finally:
    con.close()

(1, 'น้ำใส', 'ใจกล้า', '0816857452', '12/34 ถ.ประชาอุุทิศ', 'ห้วยขวาง', 'กทม.', '10310')

In [30]:
#calling 3 rows of information
#fetchamany

import pymysql

con = pymysql.connect(host="localhost", database="testmariadb", user="root", password="", charset="utf8")

try:
    cur = con.cursor()
    cur.execute('SELECT *FROM customer')
    
    
    #นำผลลัพธ์ทุกรายการใน sql statement เรียกดึงข้อมูลได้มาเก็บเป็นตัวแปร cust_data
    
    cust_data = cur.fetchmany(3)
    for i in cust_data:
        print(i)
        
    
    cur.close()

except:
    print("ไม่สามารถดึงข้อมูลลงในตารางข้อมูลได้")
    
finally:
    con.close()

(1, 'น้ำใส', 'ใจกล้า', '0816857452', '12/34 ถ.ประชาอุุทิศ', 'ห้วยขวาง', 'กรุงเทพฯ', '10310')
(2, 'ต้นน้ำ', 'กล้าหาญ', '0829966742', '987/542 ซ.สุทธิพร ถ.ประชาสงเคราะห์', 'ดินแดง', 'กรุงเทพฯ', '10400')
(3, 'วันดี', 'สีสวย', '0896652321', '2 ถ.พหลโยธิน ต.ประชาธิปัตย์', 'ธัญบุรี', 'ปทุมธานี', '12130')

In [32]:
#เรียกดูข้อมูลในบางคอลัม

#calling information
#fetchall
import pymysql

con = pymysql.connect(host="localhost", database="testmariadb", user="root", password="", charset="utf8")

try :
    cur = con.cursor()
    
    #เรียกดูข้อมูล
    cur.execute("SELECT cust_id,first_name,last_name FROM customer")

    cust_data = cur.fetchall()
    for i in cust_data :
        print(i)

    cur.close()
except :
    print("ไม่สามารถเรียกดึงข้อมูลจากฐานข้อมูลได้")
finally :
    con.close()

(1, 'น้ำใส', 'ใจกล้า')
(2, 'ต้นน้ำ', 'กล้าหาญ')
(4, 'พอใจ', 'กล้าหาญ')
(5, 'วีระ', 'รักธรรม')

In [28]:
#กรอก input เพื่อเรียกดูข้อมูลของลูกค้า

import pymysql

id = input("กรุณากรอกรหัสลูกค้า : ")
sql = "SELECT * FROM customer WHERE cust_id = "+id
con = pymysql.connect(host="localhost", database="testmariadb", user="root", password="", charset="utf8")

try :
    cur = con.cursor()
    cur.execute(sql)

    cust_data = cur.fetchone()
    if(str(cust_data) in "None") :
        print("ไม่พบข้อมูลลูกค้าตามรหัสลูกค้าที่ระบุ")
    else :
        print("รหัสลูกค้า : ",cust_data[0])
        print("ชื่อ-นามสกุล :  ",cust_data[1],cust_data[2])
        print("เขตที่อยู่ : ",cust_data[5])
    cur.close()

except :
    print("ไม่สามารถเรียกดึงข้อมูลจากฐานข้อมูลได้")
finally :
    con.close()

กรุณากรอกรหัสลูกค้า : 9
ไม่พบข้อมูลลูกค้าตามรหัสลูกค้าที่ระบุ

In [29]:
#Update infor
#cur = cursor()
#cur.execute(update)


import pymysql

con = pymysql.connect(host="localhost", database="testmariadb", user="root", password="", charset="utf8")

try: 
    cur = con.cursor()
    cur.execute("UPDATE customer SET province  = 'กรุงเทพฯ' WHERE province = 'กทม.'")
    
    con.commit()
    print('ปรับปรุงข้อมูลสำเร็จแล้ว')
    cur.close()
except:
    con.rollback()
    print('ไม่สามารถปรับปรุงได้')
finally:
    con.close()

ปรับปรุงข้อมูลสำเร็จแล้ว

In [31]:
#Del 

#cur = cursor()
#cur.execute(DELETE)


import pymysql
con = pymysql.connect(host="localhost", database="testmariadb", user="root", password="", charset="utf8")

try: 
    cur = con.cursor()
    cur.execute("DELETE FROM customer WHERE cust_id =3 ")
    

    con.commit()
    print('DElETE FINISH')
    cur.close()
    
except:
    con.rollback()
    print("WE CAN'T DELETE")
finally:
    con.close()

DElETE FINISH